<footer>
    <div class="foot-info">

        <div class="foot-socials">
           <i class="fa-brands fa-square-facebook"></i>
           <i class="fa-brands fa-square-instagram"></i>
           <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="foot-brand"> &copy; WanderNest private limited</div>
        <div class="foot-links">

            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>